<div class="d-flex flex-column gap-2 mb-3">
    <!-- checkingfilter.razor -->
    <InputSelect class="form-select" Value="SelectedEmployeeName" ValueChanged="SelectedEmployeeNameChanged"
        ValueExpression="@(() => SelectedEmployeeName)" style="max-width:300px;">
        <option value="">-- Select Employee --</option>
        @foreach (var emp in Employees)
        {
            <option value="@emp.FullName">@emp.FullName (@emp.Department)</option>
        }
    </InputSelect>

    <InputDate class="form-control" Value="SelectedDate" ValueChanged="SelectedDateChanged"
        ValueExpression="@(() => SelectedDate)" style="max-width:200px;" />


    <!-- Filter buttons -->
    <div class="mt-2">
        <button class="btn @(ShowActiveOnly ? "btn-outline-secondary" : "btn-primary") me-2" style="width: 200px;"
            @onclick="() => OnFilterChanged.InvokeAsync(false)">
            Show All Projects
        </button>
        <button class="btn @(ShowActiveOnly ? "btn-primary" : "btn-outline-secondary")" style="width: 200px;"
            @onclick="() => OnFilterChanged.InvokeAsync(true)">
            Show Active Projects
        </button>
    </div>
</div>

@code {
    [Parameter] public List<EmployeeModel> Employees { get; set; } = new();

    [Parameter] public string SelectedEmployeeName { get; set; } = "";
    [Parameter] public EventCallback<string> SelectedEmployeeNameChanged { get; set; }

    [Parameter] public DateTime SelectedDate { get; set; }
    [Parameter] public EventCallback<DateTime> SelectedDateChanged { get; set; }

    [Parameter] public bool ShowActiveOnly { get; set; }
    [Parameter] public EventCallback<bool> OnFilterChanged { get; set; }
}
